*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}

.web-app{
     background-color: #141922;
    height: 100vh;  
    
}

.web-app-main{
    height: 90vh;
    display: flex;
}

.aside{
    height: 100%;
    width: 10vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-nav{
  width: 100%;
    
}

.logo .small-logo{
    margin:auto;
    height: 25px;
    width: 100%;
}

.logo .big-logo{
    display:none;

}

.aside-nav ul li div img{
    opacity: 0.8;
    height: 20px;
    /*DA COMMENTARE PER IPAD*/
    width: 100%;
    margin-top:10%;

}

ul li div img:hover{
    opacity: 1;
    cursor:pointer;
   

}



.aside-nav ul li div{
    display: flex;
    flex-wrap: wrap;
    
}

.aside-nav ul li div span{
    color: white;
    display:none;
}



.aside-nav-b{  
    width: 100%;

    
}

.aside-nav-b ul li div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.aside-nav-b ul li div span{
    color:rgb(124, 124, 124);
    display: none;
}

.aside-nav-b ul li div span:hover{
cursor: pointer;
color:white;

}

#download{
    
    height:10px;
   
   
}

#profile{
     height: 25px;  
    margin:30% 0 0 0;
    background-color: rgb(49, 49, 49);
    border-radius: 50%;

}

.playlist span{
    color:white;
}

.playlist{
    margin:15% 0 0 5%;
    display: none;
    
    
}

.playlist span:first-child{
    text-transform: uppercase;
    margin-left:5%;
}

.create-playlist{
    margin:10% 0 5% 5%;
}


.create-playlist i{
    background-color: rgb(128, 127, 127);
    margin:5% 3% 3% 0;
    padding:5%;
}

.playlist ul{
    height: 20vh;
    overflow-y:scroll;
}

.playlist ul li{
    list-style: none;
    
}

.playlist ul li div{
    color: white;
    margin:0 0 10% 0;
}

.main{
    height: 100%;
    width: 90%;
    overflow-y: scroll;  
}

.upgrade{
    height: 10%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.164);
    position:fixed;
    display: flex;
    min-height: 50px;
    z-index: 200;
  
}

.button{
    align-self: center;
    text-transform: uppercase;
    font-size: 0.7em;
    padding:2% 5%;
    margin-left:50%;
    border:1px solid white;
    color:white;
    border-radius: 30px;
    
   
}

.button:hover{
    cursor:pointer;
    transform: scale(1.2);
}


.nav{
    margin-top:7rem;

}

.nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.nav ul li{
    list-style: none;
   
    
}

.nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.7em;
    color: grey;
}

.nav ul li div{
    height: 1px;
    width: 90%;
    margin:auto;
    background-color: rgb(23, 201, 53);
    display: none;
}

.nav ul li a:hover{
    
    color: rgb(255, 255, 255);
}

.nav ul li:hover{
   border-bottom: 1px solid green;
   
}


.title{
    margin: 30px 0 10% 3%;
    color: white;
    font-size: 1.3em;
}

.title span{
    color: grey;
    font-size: 0.5em;
}

.container{ 
    display:flex;
    flex-wrap: wrap;   
}

.album{
    margin: 0 2% 5px 10%;
    width: 120px;
    height: 120px;
}

.album-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: (100% / 2 -80px );
    margin: 0 20px 20px 20px;
}

.album .sq-img{
    width: 120px;
    height: 120px;  
}

#round{
    border-radius:50%;
}


.album-song div{
    text-align: center;

}

.album-song div:first-child{
    color: white;
    font-weight: bolder;
}

.album-song div:nth-child(2){
    color: grey;
    font-size: 0.8em;
}


.footer{
    height: 10vh;
    width: 100%;
    background-color: rgb(0, 0, 0);
    align-self: flex-end;
    display: flex;
    
}

.l-footer{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.c-footer{
    height: 100%;
    width: 45%; 
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.r-footer{
    height: 100%;
    width: 25%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.7em;
   
}

.img-container{
    display: flex;
      
}

.img-container img{
    width: 25px;
    height: 25px;
}

.title-container{
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    
}

.title-container span:first-child{
    color:white;
    font-size: bold;
}

.title-container span:nth-child(2){
    color:lightgrey;
    font-size: bold;
}


.l-icons-container{
    display: flex;
    flex-direction: column;
    
}

.l-icons-container i{
    font-size: 0.9em;
    color:lightgrey;
}

.l-icons-container i:hover{
    cursor: pointer;
    color:rgb(255, 255, 255);
}



.interact{
    
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: white;
}

.song-bar{
    height:2px;
    width: 60%;
    background-color:grey;
    
}



.song-bar .s-song-bar{
    height:2px;
    width: 20%;
    background-color:rgb(255, 255, 255);
    
    
}



.volume-s{
    width: 80%;
    height: 1px;
    background-color: grey;
    display: none;
   
   
   
}

.volume-s div{
    width: 40%;
    height: 1px;
    background-color: #fff;
    display: none;
}



.fa-circle-play{
    font-size: 1.2em;
}

.interact .fa-solid{
    font-size:0.7em;
    margin-top:2%;
}



@media screen and (min-width:810px){
  
.aside{
    height: 100%;
    width: 30%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside-nav ul li div img{
    opacity: 0.8;
    height: 20px;
   
    width: auto;
    margin-top:10%;

}

.aside-nav ul li div span{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    display:block;
    margin:10% 0 0 10%;
}

.aside-nav ul{
    margin-left:5%;
    width: 70%;
    
}

.aside-nav-b ul{
    margin-left:5%;
    width: 70%;
    
}

.aside-nav-b ul li div span{
    color: rgb(255, 255, 255);
    opacity: 0.8;
    display:inline-block;
    margin:10% 0 0 10%;
   
}

.aside-nav-b ul li div{
    display: block;
}

.logo .small-logo{
   display: none;
}

.logo .big-logo{
    display:inline-block;
    width: 70%;
    margin:5% 0 0 5%;

}

.playlist{
    display: block;
}

#download{
  height:20px;   
}
    
.nav ul li a{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9em;
    color: grey;
}

.album img{
    width: 120px;
    height: 120px;
    display: block;
    z-index: 1;
}
  
  
.img-container img{
    width: 60px;
    height: 60px;
}

.title-container{
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
    
}

.l-icons-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20%;
    font-size: 1.2em;
    
}


.fa-circle-play{
    font-size: 1.5em;
}

.interact .fa-solid{
    font-size:0.9em;
    margin-top:2%;
}

.r-footer{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 0.9em;
   
}

.volume-s{
    width: 50px;
    height: 1px;
    background-color: grey;
   
   display: inline-block;
   text-align: center;
}

.r-footer .volume{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;



}

.volume-s div{
    width: 40%;
    height: 1px;
    background-color: #fff;
    display: block;
}

}

@media screen and (min-width: 1008px){

 .aside{
    height: 100%;
    width: 15vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button{
    align-self: center;
    text-transform: uppercase;
    font-size: 0.7em;
    padding:1% 3%;
    margin-left:70%;
    border:1px solid white;
    color:white;
    border-radius: 30px;
    
   
}
.nav{
    width: 70%;
    margin: auto; 
    margin-top:7rem;
}



.album{
    
    margin: 0 2% 5% 25%;
    width: 150px;
    height: 150px;
}

.title{
    margin: 30px 0 5% 3%;
    color: white;
    font-size: 1.3em;
}
.album img{
    width: 150px;
    height: 150px;
    display: block;
    z-index: 1;
}

   
}

